.gradient-custom-2 {
    background: #ffd4a0;
    
    background: -webkit-linear-gradient(to right, #35ee24, #d8363a, #ffd3e4, #2f7cf0);
    
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
}
