<h2>Posiłki</h2>
<hr>
<div class="container-fluid">
    <div class="row">  
        <div class="col-lg-12 col-md-12 mb-4">
            <div class="card">
                <div class="row">
                  <div class="col-md-2 bg-image hover-overlay">
                    <img
                      src="./assets/images/id=1.jpeg"
                      alt="Trendy Pants and Shoes"
                      class="img-fluid rounded-start"
                    />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                  <div class="col-md-9">
                    <div class="card-body">
                      <h5 class="card-title">Sałatka z szynką, chleb pełnoziarnisty i jogurt naturalny</h5>
                      <p class="card-text">
                        Pokrojona w kostkę chuda szynka, wymieszana z warzywami (np. papryka, ogórek, pomidor) i liśćmi sałaty, skropiona oliwą z oliwek i sokiem z cytryny. Podawana z dwiema kromkami chleba pełnoziarnistego oraz małym kubeczkiem jogurtu naturalnego bez dodatku cukru. 
                      </p>
                      <p class="card-text">
                        <small>śniadanie</small>
                      </p>
                      <p class="card-text">
                        <small class="text-muted">Dieta podstawowa</small>
                      </p>
                    </div>
                  </div>
                  <div class="col-md-1 py-4">
                    <button class="fas fa-trash-alt"></button>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-lg-12 col-md-12 mb-4">
            <div class="card">
                <div class="row">
                  <div class="col-md-2">
                    <img
                      src="./assets/images/id=1.jpeg"
                      alt="Trendy Pants and Shoes"
                      class="img-fluid rounded-start"
                    />
                  </div>
                  <div class="col-md-10">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        śniadanie
                      </p>
                      <p class="card-text">
                        <small class="text-muted">Dieta podstawowa</small>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-lg-6 col-md-12 mb-4">
            <div class="card">
                <div class="row">
                  <div class="col-md-4">
                    <img
                      src="./assets/images/id=1.jpeg"
                      alt="Trendy Pants and Shoes"
                      class="img-fluid rounded-start"
                    />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        śniadanie
                      </p>
                      <p class="card-text">
                        <small class="text-muted">Dieta podstawowa</small>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-lg-6 col-md-8 col-sm-12 mb-4">
            <div class="card">
                <div class="row">
                  <div class="col-md-4">
                    <img
                      src="./assets/images/id=1.jpeg"
                      alt="Trendy Pants and Shoes"
                      class="img-fluid rounded-start"
                    />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        śniadanie
                      </p>
                      <p class="card-text">
                        <small class="text-muted">Dieta podstawowa</small>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>


  